#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_reset {
            timeout-ms = <50>;
            key-positions = <4 5>;
            bindings = <&bootloader>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp A    &kp B    &kp C    &kp D
    &kp F    &kp G    &kp H    &kp I
            >;

            sensor-bindings = <&inc_dec_kp K L>;
        };
    };
};